{% for interface in EVPN['devices'][inventory_hostname]['interfaces']%}
interface {{ interface }}
  ip address {{ EVPN['devices'][inventory_hostname]['interfaces'][interface]['ipv4']}}/{{ EVPN['devices'][inventory_hostname]['interfaces'][interface]['mask']}}
{% if 'Ethernet' in interface %}
  no switchport
  mtu {{ EVPN['DC_global']['MTU']}}
{% endif %}
{% endfor %}
